
    
    /*Sobre nós*/

    .sobre {
        color: white;
        text-align: left;
        font-size: 27px;
        padding: 40px;
        margin: 0 auto;
        /*width: 50em;*/
    }

    .container-banner{
        position: relative;
    }

    .img-banner {
        opacity: 0.6;
        max-width: 1521px;
        width: 100%;
        height: auto;
    }

    .style {
        position: absolute;
        bottom: 10px;
        left: 106px;
        opacity: 0.9;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 100%;
        background-color: #2574a8;
        width: auto;
    }

    .bg-capitura{
        background-color: #cfe0f0d8;
    }

    /*Cards - Recursos */

    .card {
        margin: 25px;
        border: none;
    }

    .card-body a {
        text-decoration: none;
        color: rgba(11, 28, 95, 0.866);
    }

    .row {
        text-align: center;
        align-items: center;
        padding-top: 20px;
        justify-content: space-around;
    }

    .list-group {

        font-size: 17px;
        padding-top: 20px;
    }

    .list-group-item {
        background-color: rgba(11, 28, 95, 0.638);
        color: white;
    }

    .viagens {
        display: grid;
        grid-template-rows: auto;
    }

    .card-text {
        font-size: 20px;
        background-color: #ed4d37;
        color: white;
        border-radius: 5px;
    }

    .recursos {
        text-align: center;
        padding-top: 8%;
        color: #ed4d37;
    }

    /*Footer*/

    .bg-footer {
        background: linear-gradient(#2574a8, #2574a8);
    }
