*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-nav{
    background-color: #2574a8;
}

.menu-nav a:hover{
    opacity: 0.7;
}

.img-logo{
    width: 80px;
    height: 44px;
}

.bg-main-prof{
    background: linear-gradient(rgba(1, 61, 15, 0.356), rgba(33, 236, 84, 0.356));
}

.bg-main-login{
    background-size: cover;
    height: 100vh ;
    background-image:url(../Images/main-fundo.jpeg);
}


.bg-footer{
    background: linear-gradient(#2574a8, #2574a8);
}